*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: url("./assets/784177058.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 40px;
}

.overlay {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    /* background-color: rgba(246, 246, 246, 0.5);  */
    -webkit-backdrop-filter: blur(5px) brightness(80%) ;
    backdrop-filter: blur(5px) brightness(80%) ;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    color: white;
    font-weight: 800;
    letter-spacing: 3px;
    border-radius: 20px;
    border: 2px outset rgb(184, 240, 246);
}

.overlay-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    
}

#start-button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 2px;
    border: 5px solid white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#start-button:hover{
    scale: 1.1;
}

.minesweeper{
    z-index: 10;
}

#minesweeper-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #4A752C;
}

select{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flag-count{
    font-weight: 500;
    font-size: 24px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    background-color: transparent;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#exit{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 30px;
    border: 2px solid rgb(116, 145, 116);
}

#exit:hover{
    scale: 1.06;
}

#board{
    border: 3px solid #4A752C;
}

/* .tiles{
    width: 2.6rem;
    height: 2.6rem;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #A2D148;
} */

.tiles {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    font-size: 20px;
    line-height: 40px; 
    box-sizing: border-box;
    background-color: #A2D148;
}

.minesweeper-row:nth-child(odd) .tiles:nth-child(odd), 
.minesweeper-row:nth-child(even) .tiles:nth-child(even){
    background-color: #B9DD76;
}

.tiles.revealed {
    background-color: #D7B899 !important;
    /* font-size: 16px; */
}

.minesweeper-row:nth-child(odd) .tiles:nth-child(odd).revealed, 
.minesweeper-row:nth-child(even) .tiles:nth-child(even).revealed {
    background-color: #E5C29F !important;
}

.mine{
    content: url("./assets/bomb.png");
    background: transparent;
}

.flagged{
    content: url("./assets/flag.png");
}

.hide{
    display: none !important;
}

.win, .game-over {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    -webkit-backdrop-filter: blur(10px) brightness(55%) ;
    backdrop-filter: blur(10px) brightness(55%) ;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    color: white;
    font-weight: 900;
    letter-spacing: 3px;
    border-radius: 20px;
    font-size: 40px;
    color: black;
    font-family:cursive;
}

#play-again-button, #game-over-button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: outset 5px rgb(95, 89, 89);
    /* box-shadow: 2px 3px 3px rgb(123, 129, 123); */
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.game-over-content {
    text-align: center;
    border: 3px solid rgb(18, 24, 18);
    border-radius: 20px;
    padding: 50px 10px ;
    background-color: rgb(205, 98, 31);
}

.win-content{
    text-align: center;
    border: 2px solid rgb(162, 170, 162);
    border-radius: 20px;
    padding: 50px 10px ;
    background-color: rgb(141, 205, 31)
}